<!DOCTYPE html>

<head>
  <title>Sizzlr</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="project/bootstrap.css">
  <link rel="stylesheet" href="project/main.css">
  <link rel="stylesheet" href="project/common-blocks/site-header/site-header.css">
  <link rel="stylesheet" href="project/common-blocks/side-nav/navbar.css">
  <link rel="stylesheet" href="project/common-blocks/main/main-section/main-section.css">
  <link rel="stylesheet" href="project/common-blocks/footer/footer.css">

  <style>
    [v-cloak] {
      display: none !important;
    }

  </style>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div id="app"  v-cloak >
  <body>
    <header class="site-header">
      <h1 class="header__title"><a href="#main-doc" class="header__link">Sizzlr</a></h1>

      <nav id="top-nav" class="header__nav">
        <ul class="header_nav_ul">
          <li class="header_nav_li">
            <a href="#" class="nav-link header_nav_link header__link">
              Site 1
            </a>
          </li>
          <li class="header_nav_li"><a href="#" class="nav-link header_nav_link header__link">Site 2</a></li>
        </ul>
      </nav>
    </header>

    <div class="wrapper">




      <nav id="navbar" class="side-nav">
        <header class="side-nav_header side-nav-content">
          <a href="#topic-title" class="nav-link side-nav_nav-link">{{recipeInfo.title}}</a></header>
        <ul class="side-nav__ul side-nav-content">
          <li class="side-nav-li-h1">
            <a href="#section_1" class="nav-link side-nav_nav-link">{{nav1}}</a>
          </li>
          <li class="side-nav-li-h1">
            <a href="#section_2" class="nav-link side-nav_nav-link">{{nav2}}</a>
          </li>          
        </ul>


        <page-nav v-for="recSec in recipeSections" :name="recSec"></page-nav>
      </nav>





      <main id="main-doc" class="main">
        <section class="main-section main-section__button-container">
          <button type="submit" @click="getRandomRecipe" class="main-section__button">Get Random Recipe</button>
        </section>




        <h2 id="topic-title" class="main-section__topic-title">{{recipeInfo.title}}</h2>
        <a href="#topic-title" class="nav-link side-nav_nav-link"></a></header>
    

        <section class="main-section info-tags">
          About this recipe: 
          <recipe-info-tag 
            name="test tag"
          ></recipe-info-tag>
        </section>


        <section id="section_1" class="main-section">
          <header class="main-section__description">
            {{nav1}}
          </header>     

           <div v-if="printIngredients.length > 0" class="main-section__ingredients-list">
            <ul>
              <li v-for="i in printIngredients">{{i}}</li>
            </ul>
           </div>   
        </section>




        <section id="section_2" class="main-section">
          <header class="main-section__description">
            {{nav2}}
          </header>

          <div v-if="fetchSteps.length > 0" class="main-section__steps-list">
            <ol>
              <li v-for="s in fetchSteps">{{s}}</li>
            </ol>
          </div>          
        </section>

        <recipe-element v-for="recSec in recipeSections" :name="recSec"></recipe-element>


      </main>


      <footer class="footer">
        <p class="footer__p">
          Copyright 2020 <a href="https://www.linkedin.com/in/ashley-newton-00131255/" class="footer_link">Ashley Newton</a>
        </p>
        <p class="footer__p">Powered by <a href="https://spoonacular.com/food-api" class="footer_link">Spoonacular</a></p>
        <p class="footer__p"><a href="#" class="footer_link">Privacy policy</a></p>
      </footer>

    </div>

  </body>

</div>


</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/x-template" id="page-nav">

    <ul class="side-nav__ul side-nav-content">
      <li class="side-nav-li-h1">
        <a href="#" class="nav-link side-nav_nav-link">{{name}}</a>
      </li>      
    </ul>

</script>

<script type="text/x-template" id="recipe-element">
  <section class="main-section"> 
    <header  class="main-section__description">
      {{name}}
    </header>
    
    <recipe-element-list></recipe-element-list>
  </section>
</script>

<script type="text/x-template" id="recipe-element-list">
  <div class="main-section__list">
    <ul>
      <li>Section list and list item</li>
    </ul>
  </div>
</script>

<script type="text/x-template" id="recipe-info-tag">

  <span class="badge badge-pill badge-primary">{{name}}</span>

</script>

<script>
  Vue.component('recipe-info-tag', {
    template: '#recipe-info-tag',
    props: {
      type: {
        type: String
      },
      name: {
        type: String
      }
    }    
  })

  Vue.component('page-nav', {
    template: '#page-nav',
    props: {
      name: {
        type: String
      }
    }
  })

  Vue.component('recipe-element', {
    template: '#recipe-element',
    props: {
      name: {
        type: String
      }
    }                        
  })

  Vue.component('recipe-element-list', {
    template: '#recipe-element-list'
  })

  var apiKey = 'd416ba6dc52445f894be77a080a33dba';
  var url = 'https://api.spoonacular.com/recipes/random?number=1&apiKey=' + apiKey;

  var vm = new Vue({
      el: '#app',
      data: {
        recipeInfo: null,
        nav1: 'Ingredients',
        nav2: 'Instructions',
        recipeSections: ['Ingredients', 'Instructions']
      },
      created: function () {
        this.getRandomRecipe();
      },
      computed: {
        printIngredients: function() {
          // Get number of ingredients
          var i = this.recipeInfo.extendedIngredients.length-1;
          // Create empty array
          var myList = [];
          // Add each ingredient to the array
          while (i > 0) {
            myList.push(this.recipeInfo.extendedIngredients[i].original);
            i--;
          }    
          myList.reverse();
          return myList;     
        },
        fetchSteps: function () {
          // Get number of steps
          var s = this.recipeInfo.analyzedInstructions[0].steps.length-1;
          // Create empty list
          var stepList = [];
          // Add each step to the list
          while (s > 0) {
            stepList.push(this.recipeInfo.analyzedInstructions[0].steps[s].step);
            s--;
          }
          stepList.reverse();
          return stepList;
        },
      },
      methods: {
        getRandomRecipe: function () {
          axios
            .get(url)
            .then(response => (this.recipeInfo = response.data.recipes[0]))
            .catch(error => console.log(error));
        }
      }
  });

  
</script>