<!DOCTYPE html>

<head>
  <title>Sizzlr</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="project/main.css">
  <link rel="stylesheet" href="project/common-blocks/site-header/site-header.css">
  <link rel="stylesheet" href="project/common-blocks/side-nav/navbar.css">
  <link rel="stylesheet" href="project/common-blocks/main/main-section/main-section.css">
  <link rel="stylesheet" href="project/common-blocks/footer/footer.css">

  <style>
    [v-cloak] {
      display: none !important;
    }

  </style>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div id="app"  v-cloak >
  <body>
    <site-header 
      :app-title="title"
    ></site-header>

    <div class="wrapper">

      <nav id="navbar" class="side-nav">
        <header class="side-nav_header side-nav-content">
          <a href="#topic-title" class="nav-link side-nav_nav-link">{{recipeInfo.title}}</a></header>
        <ul class="side-nav__ul side-nav-content">
          <li class="side-nav-li-h1">
            <a href="#section_1" class="nav-link side-nav_nav-link">{{ingredientsSectionTitle}}</a>
          </li>
          <li class="side-nav-li-h1">
            <a href="#section_2" class="nav-link side-nav_nav-link">{{instructionsSectionTitle}}</a>
          </li>          
        </ul>
      </nav>

      <main id="main-doc" class="main">

        <section class="main-section main-section__button-container">
          <button type="submit" @click="getRandomRecipe" class="main-section__button">Get Random Recipe</button>
        </section>


        <h2 id="topic-title" class="main-section__topic-title">{{recipeInfo.title}}</h2> 

        <recipe-element
          :name="ingredientsSectionTitle"
          :id="ingredientsSectionTitle"
          :section-type="'unordered-list'"
          :list-items="printIngredients"
        ></recipe-element>

        <recipe-element
          :name="instructionsSectionTitle"
          :id="instructionsSectionTitle"
          :section-type="'ordered-list'"
          :list-items="fetchSteps"
        ></recipe-element>
      
      </main>


      <footer class="footer">
        <p class="footer__p">
          Copyright 2020 <a href="https://www.linkedin.com/in/ashley-newton-00131255/" class="footer_link">Ashley Newton</a>
        </p>
        <p class="footer__p">Powered by <a href="https://spoonacular.com/food-api" class="footer_link">Spoonacular</a></p>
        <p class="footer__p"><a href="#" class="footer_link">Privacy policy</a></p>
      </footer>

    </div>

  </body>

</div>


</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/x-template" id="recipe-info-tag">

  <span class="badge badge-pill badge-info">{{testtagname}}</span>

</script>

<script type="text/x-template" id="site-header">
  <header class="site-header">
    <h1 class="header__title"><a href="#main-doc" class="header__link">{{appTitle}}</a></h1>
  </header>
</script>

<script type="text/x-template" id="recipe-element">
  <section class="main-section"> 
    <header  class="main-section__description">
      {{name}}
    </header>

    <ul v-if="sectionType == 'unordered-list'">
      <li v-for="item in listItems">{{ item }}</li>
    </ul>    
    <ol v-else>
      <li v-for="item in listItems">{{ item }}</li>
    </ol>
  </section>
</script>

<script>
  Vue.component('recipe-element', {
    template: '#recipe-element',
    props: {
      name: {
        type: String
      },
      sectionType: {
        type: String // options: ordered-list, unordered-list
      },
      listItems: {
        type: Array
      }
    }                        
  })


  Vue.component('site-header', {
      template: '#site-header',
      props: {
        appTitle: {
          type: String
        }
      }
    })

  Vue.component('recipe-info-tag', {
    template: '#recipe-info-tag',
    props: {
      type: {
        type: String
      },
      testtagname: {
        type: String
      }
    }   
  })


  var apiKey = 'd416ba6dc52445f894be77a080a33dba';
  var url = 'https://api.spoonacular.com/recipes/random?number=1&apiKey=' + apiKey;

  var vm = new Vue({
      el: '#app',
      data: {
        title: "Sizzler",
        recipeInfo: {},
        ingredientsSectionTitle: 'Ingredients',
        instructionsSectionTitle: 'Instructions',
        recipeSections: ['Ingredients', 'Instructions']
      },
      created: function () {
        // Get initial recipe
        axios
          .get(url)
          .then(response => (this.recipeInfo = response.data.recipes[0]))
          .catch(error => console.log(error));
      },
      computed: {
        printIngredients: function() {
          // Get number of ingredients
          var i = this.recipeInfo.extendedIngredients.length-1;
          // Create empty array
          var myList = [];
          // Add each ingredient to the array
          while (i > 0) {
            myList.push(this.recipeInfo.extendedIngredients[i].original);
            i--;
          }    
          myList.reverse();
          return myList;     
        },
        fetchSteps: function () {
          // Get number of steps
          var s = this.recipeInfo.analyzedInstructions[0].steps.length-1;
          // Create empty list
          var stepList = [];
          // Add each step to the list
          while (s > 0) {
            stepList.push(this.recipeInfo.analyzedInstructions[0].steps[s].step);
            s--;
          }
          stepList.reverse();
          return stepList;
        },
      },
      methods: {
        getRandomRecipe: function () {
          axios
            .get(url)
            .then(response => (this.recipeInfo = response.data.recipes[0]))
            .catch(error => console.log(error));
        }
      }
  });

  
</script>