<!DOCTYPE html>

<head>
  <title>OM Cheese!</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="project/main.css">
  <link rel="stylesheet" href="project/common-blocks/site-header/site-header.css">
  <link rel="stylesheet" href="project/common-blocks/side-nav/navbar.css">
  <link rel="stylesheet" href="project/common-blocks/main/main-section/main-section.css">
  <link rel="stylesheet" href="project/common-blocks/footer/footer.css">

  <style>
    [v-cloak] {
      display: none !important;
    }

  </style>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div id="app"  v-cloak >
  <body>
    <header class="site-header">
      <h1 class="header__title"><a href="#main-doc" class="header__link">OM Cheese!</a></h1>

      <nav id="top-nav" class="header__nav">
        <ul class="header_nav_ul">
          <li class="header_nav_li">
            <a href="#" class="nav-link header_nav_link header__link">
              Site 1
            </a>
          </li>
          <li class="header_nav_li"><a href="#" class="nav-link header_nav_link header__link">Site 2</a></li>
        </ul>
      </nav>
    </header>

    <div class="wrapper">

      <nav id="navbar" class="side-nav">
        <header class="side-nav_header side-nav-content">
          <a href="#topic-title" class="nav-link side-nav_nav-link">{{recipeInfo.title}}</a></header>
        <ul class="side-nav__ul side-nav-content">
          <li class="side-nav-li-h1">
            <a href="#section_1" class="nav-link side-nav_nav-link">{{nav1}}</a>
          </li>
          <li class="side-nav-li-h1">
            <a href="#section_2" class="nav-link side-nav_nav-link">{{nav2}}</a>
          </li>
          
        </ul>
      </nav>


      <main id="main-doc" class="main">
        <h2 id="topic-title" class="main-section__topic-title">{{recipeInfo.title}}</h2>
        <a href="#topic-title" class="nav-link side-nav_nav-link"></a></header>



          <p>{{recipeInfo}}</p>



        

        <section id="section_1" class="main-section">
          <header class="main-section__description">
            {{nav1}}
          </header>     

           <div v-if="printIngredients.length > 0" class="main-section__ingredients-list">
            <ul>
              <li v-for="i in printIngredients">{{i}}</li>
            </ul>
           </div>        

        </section>

        <section id="section_2" class="main-section">
          <header class="main-section__description">
            {{nav2}}
          </header>

          <div v-if="fetchSteps.length > 0" class="main-section__steps-list">
            <ol>
              <li v-for="s in fetchSteps">{{s}}</li>
            </ol>
          </div>

          
        </section>

        

      </main>


      <footer class="footer">
        <p class="footer__p">
          Copyright 2020 <a href="https://www.linkedin.com/in/ashley-newton-00131255/" class="footer_link">Ashley Newton</a>
        </p>
        <p class="footer__p"><a href="#" class="footer_link">Privacy policy</a></p>
      </footer>

    </div>

  </body>

</div>


</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  var apiKey = 'd416ba6dc52445f894be77a080a33dba';
  var url = 'https://api.spoonacular.com/recipes/random?number=1&apiKey=' + apiKey;

  var currentRecipe = {
    "title": "Mashed Potatoes",
    "ingredients": ["6 medium potatoes", "1/2 cup milk"],
    "steps": ["Peel potatoes and slice into 1/2 inch cubes, then immerse in water in large pot and bring to a boil and let simmer for about 20 minutes or untile fork tender.",
              "Strain water from pot, then put potatoes back in the pot and add the milk.",
              "Mash potatoes by hand or use hand blender. Serve piping hot."]    
  };

  new Vue({
      el: '#app',
      data: {
        recipeInfo: null,
        ingredientsTestList: [],
        nav1: 'Ingredients',
        nav2: 'Instructions',
      },
      mounted () {
        axios
          .get(url)
          .then(response => (this.recipeInfo = response.data.recipes[0]))
          .catch(error => console.log(error))
      },
      computed: {
        recipeTitle: function () {
          return this.recipeInfo.title;
        },
        printIngredients: function() {
          var i = this.recipeInfo.extendedIngredients.length-1;
          console.log("Printing i: " + i);
          var myList = [];
          console.log("Printing myList: " + myList.toString());
          while (i > 0) {
            myList[i] = this.recipeInfo.extendedIngredients[i].original;
            console.log("Printing myList[i]: " + myList[i]);
            i--;
            console.log("Printing i: " + i);
          }    
          return myList;     
        },
        fetchSteps: function () {
          return currentRecipe.steps;
        }
      }
  });

  
</script>